<a href="https://colab.research.google.com/github/sandeep92134/PACKT-python-workshop/blob/main/module%2010/exrecise%20137/Exercise_137_Reading_and_Viewing_the_Boston_Housing_Dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In this exercise, your goal is to read and view the Boston Housing dataset in our Jupyter Notebook. The following steps will enable you to complete the exercise:

1. Open a new Jupyter Notebook.
2. Import pandas as pd:
 
 `import pandas as pd`
3. Now, choose a variable to store **DataFrame** and place the **HousingData.csv** file in the folder for **Exercise** 137. Then, run the following command:

 `housing_df = pd.read_csv('HousingData.csv')`

 If no errors arise, the file has been properly read. Now you can examine and view the file.
4. Now, you need to view the file by entering the following command:
 
 `housing_df.head()`

 The **pandas .head** method does just that. By default, it selects the first five rows. You may enter more if you choose by adding a number in parentheses

Now that you know what the values in the dataset mean you will start performing some advanced operations on the dataset. You will cover this in the following exercise.

In [1]:
import pandas as pd
housing_df = pd.read_csv('HousingData.csv')

In [2]:
housing_df.head()

      CRIM    ZN  INDUS  CHAS    NOX  ...  TAX  PTRATIO       B  LSTAT  MEDV
0  0.00632  18.0   2.31   0.0  0.538  ...  296     15.3  396.90   4.98  24.0
1  0.02731   0.0   7.07   0.0  0.469  ...  242     17.8  396.90   9.14  21.6
2  0.02729   0.0   7.07   0.0  0.469  ...  242     17.8  392.83   4.03  34.7
3  0.03237   0.0   2.18   0.0  0.458  ...  222     18.7  394.63   2.94  33.4
4  0.06905   0.0   2.18   0.0  0.458  ...  222     18.7  396.90    NaN  36.2

[5 rows x 14 columns]