<a href="https://colab.research.google.com/github/sandeep92134/PACKT-python-workshop/blob/main/Exercise_32_Using_Sets_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In this exercise, you will gain an understanding of sets in Python. A set is a collection of objects:

1. Open a Jupyter notebook.
2. Initialize a set using the following code. You can pass in a list to initialize a set:

In [1]:
s1 = set([1,2,3,4,5,6])
print(s1)
s2 = set([1,2,2,3,4,4,5,6,6])
print(s2)
s3 = set([3,4,5,6,6,6,1,1,2])
print(s3)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}

You can see that the set is unique and unordered, so duplicate items and the original order are not preserved.

3. Enter the following code in a new cell:

In [2]:
s4 = {"apple", "orange", "banana"}
print(s4)

{'apple', 'banana', 'orange'}

4. Sets are mutable. Type the following code and see how we add a new item, pineapple, to an existing set, s4:

In [3]:
s4.add('pineapple')
print(s4)

{'apple', 'pineapple', 'banana', 'orange'}

In this exercise, you were introduced to sets in Python. In the next topic, you will dive in a bit deeper and understand the different set operations that Python has to offer you.