<a href="https://colab.research.google.com/github/sandeep92134/PACKT-python-workshop/blob/main/Exercise_31_Exploring_Tuple_Properties_in_Our_Shopping_List.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In this exercise, you will learn about the different properties of a tuple:

1. Open a Jupyter notebook.
2. Type the following code in a new cell to initialize a new tuple, t:

In [1]:
t = ('bread', 'milk', 'eggs')
print(len(t))

3

<font color=red> Note: </font> 
Remember, a tuple is immutable; therefore, we are unable to use the append method to add a new item to an existing tuple. You can't change the value of any existing tuple's elements, either because both of the following statements will raise an error.

3. Now, as mentioned in the note, enter the following lines of code and observe the error:

In [2]:
t.append('apple')

AttributeError: ignored

In [3]:
t[2] = 'apple'

TypeError: ignored

The only way to get around this is to create a new tuple by concatenating the existing tuple with other new items.

4. Now use the following code to add two items, apple and orange, to our tuple, t. This will give us a new tuple. Take note that the existing t tuple remains unchanged:

In [4]:
print(t + ('apple','orange'))
print(t)

('bread', 'milk', 'eggs', 'apple', 'orange')
('bread', 'milk', 'eggs')

5. Enter the following statements in a new cell and observe the output:

In [5]:
t_mixed = 'apple', True, 3
print(t_mixed)
t_shopping = ('apple',3), ('orange',2), ('banana',5)
print(t_shopping)

('apple', True, 3)
(('apple', 3), ('orange', 2), ('banana', 5))

Tuples also support mixed types and nesting, just like lists and dictionaries. You can also declare a tuple without using parentheses, as shown in the code you entered in step 5