<a href="https://colab.research.google.com/github/sandeep92134/PACKT-python-workshop/blob/main/module%2010/exercise%20138/Exercise_138_Gaining_Data_Insights_on_the_Boston_Housing_Dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In this exercise, you will be performing some more advanced operations and using pandas methods to understand the dataset and get desired insights. The following steps will enable you to complete the exercise:

1. Open a new Jupyter Notebook and copy the dataset file into a separate folder where you will perform this exercise.
2. Import pandas and choose a variable to store **DataFrame** and place the **HousingData.csv** file:
3. Now, use the **describe()** method to display key statistical measures of each column, including the mean, median, and quartiles, as shown in the following code snippet:
 
 `housing_df.describe()`

 In this output, you will review the meaning of each row.
 
 **Count**: The number of rows with actual values.

 **Mean**: The sum of each entry divided by the number of entries. It is often a good estimate of the average.

 **Std**: The number of unit entries that are expected to deviate from the mean. It is a good measure of spread.

 **Min**: The smallest entry in each column.

 **25**%: The first quartile. 25% of the data has a value less than this number.

 **50**%: The median. The halfway marker of the data. It is another good estimate of the average.

 **75**%: The third quartile. 75% of the data has a value less than this number.

 **Max**: The largest entry in each column.

4. Now use the **info()** method to deliver a full list of columns.
 
 **info()** is especially valuable when you have hundreds of columns, and it takes a long time to horizontally scroll through each one:

 `housing_df.info()`

 Now confirm the number of rows and columns in the dataset:

 `housing_df.shape`

In this exercise, you performed basic operations on the dataset, such as describing the dataset and finding the number of rows and columns in the dataset.

In the next section, you will cover null values.

In [1]:
import pandas as pd
housing_df = pd.read_csv('HousingData.csv')
housing_df.head()

      CRIM    ZN  INDUS  CHAS    NOX  ...  TAX  PTRATIO       B  LSTAT  MEDV
0  0.00632  18.0   2.31   0.0  0.538  ...  296     15.3  396.90   4.98  24.0
1  0.02731   0.0   7.07   0.0  0.469  ...  242     17.8  396.90   9.14  21.6
2  0.02729   0.0   7.07   0.0  0.469  ...  242     17.8  392.83   4.03  34.7
3  0.03237   0.0   2.18   0.0  0.458  ...  222     18.7  394.63   2.94  33.4
4  0.06905   0.0   2.18   0.0  0.458  ...  222     18.7  396.90    NaN  36.2

[5 rows x 14 columns]

In [2]:
housing_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     486 non-null    float64
 1   ZN       486 non-null    float64
 2   INDUS    486 non-null    float64
 3   CHAS     486 non-null    float64
 4   NOX      506 non-null    float64
 5   RM       506 non-null    float64
 6   AGE      486 non-null    float64
 7   DIS      506 non-null    float64
 8   RAD      506 non-null    int64
 9   TAX      506 non-null    int64
 10  PTRATIO  506 non-null    float64
 11  B        506 non-null    float64
 12  LSTAT    486 non-null    float64
 13  MEDV     506 non-null    float64
dtypes: float64(12), int64(2)
memory usage: 55.5 KB

In [3]:
housing_df.shape

(506, 14)