<a href="https://colab.research.google.com/github/sandeep92134/PACKT-python-workshop/blob/main/module%2010/exercise139/Exercise_139_Null_Value_Operations_on_the_Dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In this exercise, you will perform a null value operation. You can only select the columns that have null values in our dataset:

1. Open a new Jupyter Notebook and copy the dataset file within a separate folder where you will perform this exercise.
2. Import **pandas** and choose a variable to store the **DataFrame** and place the **HousingData.csv** file:
3. Now, find values and columns in the dataset with **null** values, as shown in the following code snippet:
 `housing_df.isnull().any()`

 The **.isnull()** method will display an entire **DataFrame** of **True/False** values depending on the **Null** value. Give it a try. The **.any()** method returns the individual columns. Take it a step further and choose the **DataFrame** with those columns.
4. Now, using the DataFrame, find the null columns.
 
 You can use **.loc** to find the location of particular rows. You will select the first five rows and all of the columns that have null values, as shown in the following code snippet:
 
 `housing_df.loc[:5, housing_df.isnull().any()]` 
5. Use the **.describe()** method on the columns with null data of the dataset. The code mentioned ahead is a long piece of the code snippet. **housing_df** is the DataFrame. **.loc** allows you to specify rows and columns. : selects all rows. **housing_df.isnull().any()** selects only columns with null values. **.describe()** pulls up the statistics:
  
  `housing_df.loc[:, housing_df.isnull().any()].describe()`

In [1]:
import pandas as pd
housing_df = pd.read_csv('HousingData.csv')
housing_df.isnull().any()

CRIM        True
ZN          True
INDUS       True
CHAS        True
NOX        False
RM         False
AGE         True
DIS        False
RAD        False
TAX        False
PTRATIO    False
B          False
LSTAT       True
MEDV       False
dtype: bool

In [2]:
housing_df.loc[:5, housing_df.isnull().any()]

      CRIM    ZN  INDUS  CHAS   AGE  LSTAT
0  0.00632  18.0   2.31   0.0  65.2   4.98
1  0.02731   0.0   7.07   0.0  78.9   9.14
2  0.02729   0.0   7.07   0.0  61.1   4.03
3  0.03237   0.0   2.18   0.0  45.8   2.94
4  0.06905   0.0   2.18   0.0  54.2    NaN
5  0.02985   0.0   2.18   0.0  58.7   5.21

In [3]:
housing_df.loc[:, housing_df.isnull().any()].describe()

             CRIM          ZN       INDUS        CHAS         AGE       LSTAT
count  486.000000  486.000000  486.000000  486.000000  486.000000  486.000000
mean     3.611874   11.211934   11.083992    0.069959   68.518519   12.715432
std      8.720192   23.388876    6.835896    0.255340   27.999513    7.155871
min      0.006320    0.000000    0.460000    0.000000    2.900000    1.730000
25%      0.081900    0.000000    5.190000    0.000000   45.175000    7.125000
50%      0.253715    0.000000    9.690000    0.000000   76.800000   11.430000
75%      3.560262   12.500000   18.100000    0.000000   93.975000   16.955000
max     88.976200  100.000000   27.740000    1.000000  100.000000   37.970000