<a href="https://colab.research.google.com/github/sandeep92134/PACKT-python-workshop/blob/main/module%2010/Exercise_133_Using_DataFrames_to_Manipulate_Stored_Student_testscore_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In this exercise, you will create a **dictionary**, which is one of many ways to create a **pandas** DataFrame. You will then manipulate this data as required. In order to use pandas, you must import **pandas**, which is universally imported with an alias **pd**. However you are free to choose the alias. Pandas and NumPy are so omnipresent it's a good idea to import them first before performing any kind of data analysis. The following steps will enable you to complete the exercise:

1. You'll begin by importing **pandas** as **pd**:
  
  Now that you have imported **pandas**, you will create a **DataFrame**.
2. First, you will create a dictionary of test scores as **test_dict**:
3. Next, you place the **test_dict** into the DataFrame using the **DataFrame** method:
4. Now, you can display the Dataframe:
 
 You can inspect the **DataFrame**. First, each dictionary key is listed as a column. Second, the rows are labeled with indices starting with **0** by default. Third, the visual layout is clear and legible.
 
 Each column and row of **DataFrame** is officially represented as a **Series**. A series is a one-dimensional  **array**. Note that an array can be represented both by Series and numpy array, however they are two distinct data types and are interchangeable.

 Now, you will rotate the DataFrame, which is also known as a **transpose**, a standard **pandas** method. A transpose turns rows into columns and columns into rows.
5. Copy the code shown in the following code snippet to perform a transpose on the DataFrame:

In this exercise, you created a DataFrame that holds the values of **test** **scores**, and to finish, you transposed this DataFrame to get the output. In the next exercise, you will look at renaming column names and selecting data from the DataFrame, which is an important part of working with pandas.

In [1]:
import pandas as pd
# Create dictionary of test scores
test_dict = {'Corey':[63,75,88], 'Kevin':[48,98,92], 'Akshay': [87, 86, 85]}

In [2]:
# Create DataFrame
df = pd.DataFrame(test_dict)
df

   Corey  Kevin  Akshay
0     63     48      87
1     75     98      86
2     88     92      85

In [3]:
# Transpose DataFrame
df = df.T
df

         0   1   2
Corey   63  75  88
Kevin   48  98  92
Akshay  87  86  85