<a href="https://colab.research.google.com/github/sandeep92134/PACKT-python-workshop/blob/main/module%2010/Exercise_128_Calculating_the_Mean_of_the_Test_Score.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In this exercise, you will be finding the median from a collection of income data for a neighborhood and help a millionaire decide whether he should build his dream house in the neighborhood based on the income data. The median function here is a method of **numpy**.

The following steps will enable you to complete the exercise:

1. Open a new Jupyter Notebook.
2. Firstly, you need to import the **numpy** package as **np**, then create a **numpy** array and assign various pieces of **income** data, as shown in the following code snippet:
3. Next, find the mean of the income data:

 So far, so good. **84000** is the mean **income** on your block. Now, say the millionaire decides to build his dream house on the vacant corner lot. He adds a salary of 12 million dollars.
4. Append the value of 12 million dollars to the current array and find the new mean. For appending the new element 12000000 in the income array, we use the append method:
 
 The new average income is 1.7 million dollars. Okay. Nobody makes close to 1.7 million dollars on the block. It's not a representative average income of the whole area and will give an incorrect impression of income of the area. The mean of data is severely affected due to the addition of this outlier salary. This is where the median comes into play.
5. Now to find the **median** function from the **income** values you have:

In [1]:
import numpy as np

In [2]:
income = np.array([75000, 55000, 88000, 125000, 64000, 97000])
income.mean()

84000.0

In [3]:
income = np.append(income, 12000000)
income.mean()

1786285.7142857143

In [4]:
np.median(income)

88000.0