<a href="https://colab.research.google.com/github/sandeep92134/PACKT-python-workshop/blob/main/module%2010/Exercise_134_DataFrame_Computations_with_the_Student_testscore_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In this exercise, you will rename the columns of the DataFrame, and you will then select the data to display as output from the DataFrame:

1. Open a new Jupyter Notebook.
2. Import **pandas** as **pd** and enter the student value, as shown in Exercise 133, Using DataFrames to Manipulate Stored Student test score Data. After this, convert it to a DataFrame and have it transposed:
3. Now rename the columns to something more precise. You can use **.columns** on the DataFrame to rename the column names:
 
 Now, select a range of values from specific rows and columns. You will be using **.iloc** with the index number, which is a function present in a pandas DataFrame for selection using indices of rows and columns. This is shown in the following step:
4. Select a range of rows:
 
 **.iloc** generally takes two parameters. When only one parameter is specified like in above snippet, it is interpreted as row index. Another way of doing the same is by providing both the indices. The first index represents the row index while the second index represents the column index.
 ```
 # Access first row by index number
 df.iloc[0,:]
 ```
this syntax can be read as: from **df** dataframe select the row with index **0** and all the columns corresponding to that row. Here : as the column index represents all the columns.
5. Now, select a column using its name, as shown in the following code snippet. You can access columns by putting the column name in quotes inside of brackets:
6. Now, select a column using the dot (.) notation:

In [1]:
import pandas as pd
# Create dictionary of test scores
test_dict = {'Corey':[63,75,88], 'Kevin':[48,98,92], 'Akshay': [87, 86, 85]}
# Create DataFrame
df = pd.DataFrame(test_dict)
df.T

         0   1   2
Corey   63  75  88
Kevin   48  98  92
Akshay  87  86  85

In [2]:
# Rename Columns
df.columns = ['Quiz_1', 'Quiz_2', 'Quiz_3']
df

   Quiz_1  Quiz_2  Quiz_3
0      63      48      87
1      75      98      86
2      88      92      85

In [3]:
# Access first row by index number
df.iloc[0]

Quiz_1    63
Quiz_2    48
Quiz_3    87
Name: 0, dtype: int64

In [4]:
# Access first row by index number
df.iloc[0,:]

Quiz_1    63
Quiz_2    48
Quiz_3    87
Name: 0, dtype: int64

In [5]:
# Access first column by name
df['Quiz_1']

0    63
1    75
2    88
Name: Quiz_1, dtype: int64

In [7]:
# Access first column using dot notation
df.Quiz_1

0    63
1    75
2    88
Name: Quiz_1, dtype: int64

In [8]:
# Access first column by its index
df.iloc[:, 0]

0    63
1    75
2    88
Name: Quiz_1, dtype: int64