<a href="https://colab.research.google.com/github/sandeep92134/PACKT-python-workshop/blob/main/module%206/Exercise_87_Comparing_datetime_across_Time_Zones.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

The goal of this exercise is to create two different datetime and compare them when they are in different time zones:

1. Import the **datetime** and **tz** modules from **dateutil**:
2. Create the first **datetime** for **Madrid**:

  With this line, you create a **datetime** for April 24, 1989, at 11 a.m. in Madrid.
3. Create the second **datetime** for **Los_Angeles**:

  This creates a **datetime** object that seems to have a difference of 3 hours less and a different time zone.
4. Now, compare them:
5. Now, convert the **datetime** object to a different time zone. You can convert a **datetime** from one time zone to another. You should do that to see what time the second **datetime** would show if it was in Madrid:

In [1]:
import datetime
from dateutil import tz

In [2]:
d1 = datetime.datetime(1989, 4, 24, hour=11, tzinfo=tz.gettz("Europe/Madrid"))

In [3]:
d2 = datetime.datetime(1989, 4, 24, hour=8, tzinfo=tz.gettz("America/Los_Angeles"))

In [4]:
print(d1.hour > d2.hour)
print(d1 > d2)

True
False

In [5]:
d2_madrid = d2.astimezone(tz.gettz("Europe/Madrid"))
print(d2_madrid.hour)

17

In [6]:
datetime.date.today()

datetime.date(2020, 12, 26)